.fa{
    color: #721c24;
    font-size: 20px;
}

.header{
    text-decoration-color: #721c24;
}
.panel-primary{
    color: #721c24;
}



.ui-datagrid .ui-paginator{
    background-color: #722508;
    color:  white;
}
.ui-widget-header{
    background-color:#F8BAA3;

    color: #721c24;
}
.ui-fieldset{
    width: 500px;

    background-position: center;
    background-color: #FAD1C1;
    border-radius: 20px;
    background-attachment: fixed;
    margin-left: 400px;
    margin-top: 100px;

}