.table1{
    border: #856404;
    alignment: center;
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 10px;
    border: 2px;
}
h3{
    color: #721c24;
    font-family: Algerian;
    font-size: larger;
    background-color:  #F8BAA3;
}

